@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
* {
    margin : 0;
    padding : 0;
    font-family: 'Jua', sans-serif;
}
body{
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EDEDED;
}
.main {
    position: absolute;
    display: flex;
    gap : 5px;
}
.main.noShow {
    display: none;
}
i{
    font-size: 110px;
}
p {
    font-size : 30px;
}
.main button {
    width: 250px;
    height : 250px;
    font-size: 60px;
    background-color: #CDFCF6;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.a {
   display : none; 
}
.a.show{
    display : block;
}
.shopping{
    display: none;
}
.shopping.show{
    display : block;
}
.wrap{
    display : grid;
    height: 100vh;
    width : 100vh;
    grid-template-columns: 70% 30%;
    grid-template-rows : 60px 50px auto 200px;
    grid-auto-flow:row; 
    grid-template-areas:
    "header header"
    "nav nav"
    "section section"
    "footer aside"
    ;
}
header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
    grid-area : header;
    height: 100%;
    width : 100%;
    background-color: #EDEDED;
}
nav {
    grid-area : nav;
    height: 100%;
    width : 100%;
    background-color: #FF8787;
    border-radius: 15px;
}
section{
    grid-area : section;
    height: 100%;
    width : 100%;
    background-color: rgb(255,255,255);
    border-radius: 15px;
}
aside{
    grid-area : aside;
    height: 100%;
    width : 100%;
    /* background-color: #FF8787; */
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer{
    grid-area : footer;
    height: 100%;
    width : 100%;
    background-color: #E5EBB2;
    border-radius: 15px;
}
ul {
    display: flex;
    align-items: center;
    height: 100%;
    width : 100%;
    box-sizing: border-box;
}
.menu_list {
    list-style: none;
    font-size: 1em;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}
.menu_list.show {
    background-color: white;
}
.menu{
    display: none;
    flex-wrap: wrap;
}
.menu.show{
    display:flex;
}
.coffee_menu {
    display: flex;
    justify-content: center;
    width: 33%;
    height : 100px;
}
.coffee_info{
    display : flex;
    flex-direction: column;
    justify-content: center;
}
table {
    width: 100%;
}
th{
    width : 25%;
}
.bag_menu{
    background-color: #FAF7F0;
}
th{
    border-radius: 5px;
    padding: 2px;
}
.bag_cnt {
    width: 10%;
}
.bag_delete {
    width: 5%;
}
.buy_button{
    border: none;
    color: rgb(25,25,25);
    padding: 15px 30px;
    height: 90px;
    width: 100%;
    font-size: 30px;
    border-radius: 15px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}